//高度
$box_height: 200px;
//宽度
$page_width: 100%;
$box_width: 1190px;
//颜色
$col47:#474747;
$cold3c:#d3ccd3;
//边框
// $box_border:1px solid red;
//字体大小
$font12:12px;
//margin
$mar10:0px 10px;
//公共样式
%size {
    width: $box_width;
    // height: $box_height;
    margin: 0 auto;
    overflow: hidden;
}

//头部span的公共样式
%head-span {
    font-size: 0;
    margin: 0 10px;
    color: #d3ccd3;
    display: inline-block;
    height: 10px;
    width: 1px;
    background: #d3ccd3;
    vertical-align: middle;
}

//主体导航版心list
%main-nav-list {
    float: left;
    width: 115px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

//小图标样式
%lf-ic {
    float: left;
    margin: 8px 9px 0 -18px;
    width: 36px;
    height: 30px;
}

.main-nav-list-a {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    // display: none;
}

.main-nav-list-a a {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
}

.main-nav-list-c {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    display: none;
}

// 二级菜单
.main-nav-list-b {
    width: 115px;
    z-index: 10000;
    top: 35px;
    left: 0;
    background: #df022d;
    // padding: 2px 0;
}

//主体
.main-wrap {
    width: $box_width;
    // height: $box_height;
    margin: 0 auto;
    //////
    display: flex;
    justify-content: space-between;
}

//主体左边导航
.main-banner-left {
    width: 230px;
    height: 400px;
}

.main-banner-left-ul {
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    width: 230px;
    height: 400px;
}

.menu li {
    padding-left: 40px;
    background: url(../images/liebiao.png) no-repeat 10px 12px;
    // width: 230px;
    height: 38px;
    line-height: 38px;
}

//主体中间导航
.main-banner-mid {
    width: 730px;
    height: 390px;
    position: relative;
}

//main中间的轮播图
.lunbo {
    width: 730px;
    height: 390px;
    // margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.lunbo ul {
    position: absolute;
    left: 0px;
    top: 0px;
}

.lunbo ul li {
    float: left;
}

.lunbo ol {
    position: absolute;
    left: 50px;
    bottom: 20px;
}

.lunbo ol li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    text-indent: -999em;
    margin-right: 5px;
    cursor: pointer;
}

.lunbo ol li.active-lunbo {
    background: blue;
}

#left,
#right {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    display: none;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

//main中间的二级盒子
.lvsecbox {
    position: absolute;
    top: 0;
    left: 0;
}

.item {
    width: 730px;
    height: 390px;
    display: none;
    position: absolute;
    left: -20px;
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    transition: top 0.3s ease;
    a {
        width: 100px;
        height: 20px;
        z-index: 2;
    }
}

//左边一级盒子点击效果
.active {
    background-color: #fd4065;
}

//主体右边导航
.main-banner-right {
    width: 220px;
    height: 380px;
}

.main-banner-rig-top-tit {
    width: 218px;
    height: 34.4px;
    color: red;
    text-align: center;
    line-height: 34.4px;
}

.main-rg-logn {
    width: 197px;
    height: 30px;
    background: #fff;
    margin: 15px 0 0;
    border: 1px solid #e5e5e5;
    padding-left: 11px;
    font-size: 12px;
}

// 登录按钮
.main-rg-logn-b {
    display: inline-block;
    text-decoration: none;
    line-height: 32px;
    margin-top: 10px;
    width: 197px;
    height: 32px;
    background-blend-mode: normal, normal;
    border-radius: 16px;
    border: 1px solid #fd4065;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin-left: 14px;
}

// 忘记密码
.main-rg-forget {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    font-size: 12px;
    color: #474747;
}

.main-rg-forget a {
    color: #474747;
}

// 下方四张小图
.main-rg-log-pic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-rg-log-pic a {
    // width: 172px;
    height: 24px;
    color: #333;
    margin: 0 0 16px;
    font-size: 14px;
}

.main-rg-log-pic-b {
    margin: -6px 14px;
}