@import 'head';
@import 'fot';
@import 'public';
// 版心宽度
// $box_width: 1190px;
//边框
// $box_border:1px solid red;
// 版心公有格式
%wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 35px;
    display: flex;
    // justify-content: space-around;
    // border: $box_border;
    // align-items: center;
}