.header-wrap, .logo-wrap, .show-wrap, .g-s-wrap, .fot-wrap {
  width: 1190px;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden; }

.header-nav-left span, .header-nav-right span, .head-mid-search-list span {
  font-size: 0;
  margin: 0 10px;
  color: #d3ccd3;
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #d3ccd3;
  vertical-align: middle; }

.body {
  background: #f4f4f4; }

.header {
  width: 100%;
  background: #f6f6f6; }

.header-nav-left {
  float: left; }

.header-nav-left a {
  font-size: 12px;
  color: #474747; }

.header-nav-right {
  float: right; }

.header-nav-right a {
  font-size: 12px;
  color: #474747; }

.header-logo-lf {
  float: left;
  width: 329px;
  height: 58px;
  background: url(../images/logo.34b1b031.png) no-repeat;
  background-size: 100% 100%;
  margin: 32px 15px 0 0; }

.header-logo-mid {
  height: 58px;
  margin: 30px 0 0 80px;
  float: left; }

.head-logo-mid-search {
  width: 600px;
  height: 38px;
  position: relative;
  margin-bottom: 4px; }

.search-pic {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 11px;
  color: red; }

.head-mid-search {
  width: 480px;
  border: 2px solid #fd4165;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 30px;
  padding: 2px 8px 2px 34px; }

.header-logo-mid-but {
  position: absolute;
  right: 0;
  top: 0;
  width: 74px;
  height: 38px;
  background-color: red;
  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 16px;
  padding: 0;
  line-height: 38px;
  cursor: pointer;
  text-decoration: none;
  text-align: center; }

.head-mid-search-list a {
  font-size: 12px;
  color: #474747; }

.header-logo-rg {
  float: right;
  width: 80px;
  height: 80px;
  margin: 17px 0 0; }

.banner {
  width: 100%;
  background: #fc002d;
  height: 35px; }

.banner-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 35px;
  display: flex;
  justify-content: space-around; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
  margin: 0;
  padding: 0; }

address,
cite,
dfn,
em,
var,
i {
  font-style: normal; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #333; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  font-size: 100%; }

fieldset,
img {
  border: 0; }

a,
img {
  -webkit-touch-callout: none; }

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none; }

input[type=password],
input[type=text],
textarea {
  resize: none;
  outline: 0;
  -webkit-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fff; }

ul,
ol {
  list-style: none; }

:focus {
  outline: none; }

.clearfix {
  clear: both;
  content: "";
  display: block;
  overflow: hidden; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.header-wrap, .logo-wrap, .show-wrap, .g-s-wrap, .fot-wrap {
  width: 1190px;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden; }

.header-nav-left span, .header-nav-right span, .head-mid-search-list span {
  font-size: 0;
  margin: 0 10px;
  color: #d3ccd3;
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #d3ccd3;
  vertical-align: middle; }

.main-banner-left-icon_0, .main-banner-left-icon_1, .main-banner-left-icon_2, .main-banner-left-icon_3, .main-banner-left-icon_4, .main-banner-left-icon_5, .main-banner-left-icon_6, .main-banner-left-icon_7, .main-banner-left-icon_8, .main-banner-left-icon_9, .main-banner-left-icon_10 {
  float: left;
  margin: 8px 9px 0 -18px;
  width: 36px;
  height: 30px; }

.main-nav-list-a {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #fff; }

.main-nav-list-a a {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #fff; }

.main-nav-list-b {
  width: 115px;
  z-index: 10000;
  top: 35px;
  left: 0;
  background: #df022d;
  display: none;
  padding: 2px 0; }

.main-wrap {
  width: 1190px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex; }

.main-banner-left {
  width: 230px;
  height: 400px;
  border: 1px solid red; }

.main-banner-left-ul {
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-banner-left-li {
  font-size: 13px;
  color: #333; }

.main-banner-left-li-sp1 {
  line-height: 36px;
  height: 36px;
  text-align: center; }

.main-banner-left-icon_0 {
  background: url(../images/liebiao.png) no-repeat 20px 3px; }

.main-banner-left-icon_1 {
  background: url(../images/liebiao.png) no-repeat 20px -30px; }

.main-banner-left-icon_2 {
  background: url(../images/liebiao.png) no-repeat 20px -63px; }

.main-banner-left-icon_3 {
  background: url(../images/liebiao.png) no-repeat 20px -98px; }

.main-banner-left-icon_4 {
  background: url(../images/liebiao.png) no-repeat 20px -132px; }

.main-banner-left-icon_5 {
  background: url(../images/liebiao.png) no-repeat 20px -166px; }

.main-banner-left-icon_6 {
  background: url(../images/liebiao.png) no-repeat 20px -200px; }

.main-banner-left-icon_7 {
  background: url(../images/liebiao.png) no-repeat 20px -234px; }

.main-banner-left-icon_8 {
  background: url(../images/liebiao.png) no-repeat 20px -268px; }

.main-banner-left-icon_9 {
  background: url(../images/liebiao.png) no-repeat 20px -301px; }

.main-banner-left-icon_10 {
  background: url(../images/liebiao.png) no-repeat 20px -337px; }

.main-banner-mid {
  width: 730px;
  height: 390px;
  border: 1px solid red; }

.main-banner-right {
  width: 220px;
  height: 380px;
  border: 1px solid red; }

.main-banner-rig-top-tit {
  width: 218px;
  height: 34.4px;
  color: red;
  text-align: center;
  line-height: 34.4px; }

.main-rg-logn {
  width: 197px;
  height: 30px;
  background: #fff;
  margin: 15px 0 0;
  border: 1px solid #e5e5e5;
  padding-left: 11px;
  font-size: 12px; }

.main-rg-logn-b {
  display: inline-block;
  text-decoration: none;
  line-height: 32px;
  margin-top: 10px;
  width: 197px;
  height: 32px;
  background-blend-mode: normal, normal;
  border-radius: 16px;
  border: 1px solid #fd4065;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-left: 14px; }

.main-rg-forget {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  font-size: 12px;
  color: #474747; }

.main-rg-forget a {
  color: #474747; }

.main-rg-log-pic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.main-rg-log-pic a {
  height: 24px;
  color: #333;
  margin: 0 0 16px;
  font-size: 14px; }

.main-rg-log-pic-b {
  margin: -6px 14px; }

.show-wrap {
  display: flex; }

.show-lf {
  width: 230px;
  height: 523px;
  border: 1px solid red;
  position: relative; }

.show-lf-sp {
  position: absolute;
  left: 60px;
  top: 57px;
  font-size: 28px;
  color: #fff;
  font-weight: 700; }

.show-rg {
  width: 960px;
  height: 523px;
  border: 1px solid red; }

.show-rg-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.show-rg-ul-li {
  border: 1px solid red;
  width: 230px;
  height: 255px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; }

.show-rg-ul-li-img {
  width: 160px;
  height: 120px; }

.show-rg-ul-li-p {
  margin: 15px 0 0; }

.s-r-p1 {
  font-size: 14px;
  color: #333;
  line-height: 17px;
  width: 183px;
  height: 35px;
  margin: 21px auto 0;
  text-align: center; }

.s-r-p2 {
  width: 100%;
  height: 12px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #f33;
  margin: 15px auto 0;
  text-align: center; }

.g-s-wrap-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.g-s-wrap-li {
  border: 1px solid red;
  width: 291px;
  height: 150px; }

.g-s-wrap-li-pic {
  width: 291px;
  height: 74.61px; }

.g-s-tit {
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  text-align: center;
  line-height: 50px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #333; }

.fot {
  width: 100%;
  background: #302e2e;
  height: 140px; }

.fot-wrap {
  height: 140px;
  display: flex;
  justify-content: space-around;
  color: #f8f8f8;
  font-size: 14px; }

.fot-lf {
  border: 1px solid red;
  width: 1100px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.fot-rg {
  border: 1px solid red;
  width: 100px;
  height: 140px; }

.fot-lf-box-a-sp1 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px; }

.fot-lf-pic {
  margin-left: 16px;
  margin-top: 5px; }

.fot-rg-pic {
  margin-top: 20px; }

/*# sourceMappingURL=index.css.map */
