.header-wrap, .logo-wrap, .fot-wrap {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden; }

.header-nav-left span, .header-nav-right span, .head-mid-search-list span {
  font-size: 0;
  margin: 0 10px;
  color: #d3ccd3;
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #d3ccd3;
  vertical-align: middle; }

.body {
  background: #f4f4f4; }

.header {
  width: 100%;
  background: #f6f6f6; }

.header-nav-left {
  float: left; }

.header-nav-left a {
  font-size: 12px;
  color: #474747; }

.header-nav-right {
  float: right; }

.header-nav-right a {
  font-size: 12px;
  color: #474747; }

.header-logo-lf {
  float: left;
  width: 329px;
  height: 58px;
  background: url(../images/logo.34b1b031.png) no-repeat;
  background-size: 100% 100%;
  margin: 32px 15px 0 0; }

.header-logo-mid {
  height: 58px;
  margin: 30px 0 0 80px;
  float: left; }

.head-logo-mid-search {
  width: 600px;
  height: 38px;
  position: relative;
  margin-bottom: 4px; }

.search-pic {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 11px;
  color: red; }

.head-mid-search {
  width: 480px;
  border: 2px solid #fd4165;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 30px;
  padding: 2px 8px 2px 34px; }

.header-logo-mid-but {
  position: absolute;
  right: 0;
  top: 0;
  width: 74px;
  height: 38px;
  background-color: red;
  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 16px;
  padding: 0;
  line-height: 38px;
  cursor: pointer;
  text-decoration: none;
  text-align: center; }

.head-mid-search-list a {
  font-size: 12px;
  color: #474747; }

.header-logo-rg {
  float: right;
  width: 80px;
  height: 80px;
  margin: 17px 0 0; }

.banner {
  width: 100%;
  background: #fc002d;
  height: 35px; }

.banner-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 35px;
  display: flex;
  justify-content: space-around; }

.main-log-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 35px;
  display: flex;
  margin-bottom: 40px; }

.main-log-wrap {
  height: 100px; }

.main-logo-pic {
  width: 329px;
  height: 58px;
  margin: 32px 15px 0 0; }

.main-log-tit {
  color: #3e3a39;
  font-size: 16px;
  margin-top: 33px;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid #ededed;
  padding-left: 15px;
  margin-right: 20px; }

.fot {
  width: 100%;
  background: #302e2e;
  height: 140px; }

.fot-wrap {
  height: 140px;
  display: flex;
  justify-content: space-around;
  color: #f8f8f8;
  font-size: 14px; }

.fot-lf {
  width: 1100px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.fot-rg {
  width: 100px;
  height: 140px; }

.fot-lf-box-a-sp1 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px; }

.fot-lf-pic {
  margin-left: 16px;
  margin-top: 5px; }

.fot-rg-pic {
  margin-top: 20px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
  margin: 0;
  padding: 0; }

address,
cite,
dfn,
em,
var,
i {
  font-style: normal; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #333; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  font-size: 100%; }

fieldset,
img {
  border: 0; }

a,
img {
  -webkit-touch-callout: none; }

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none; }

input[type=password],
input[type=text],
textarea {
  resize: none;
  outline: 0;
  -webkit-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fff; }

ul,
ol {
  list-style: none; }

:focus {
  outline: none; }

.clearfix {
  clear: both;
  content: "";
  display: block;
  overflow: hidden; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.main-log-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 35px;
  display: flex; }

/*# sourceMappingURL=login.css.map */
